<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset=utf-8>
        <title>Squirrels</title>
    </head>
    <body>
	    <p><a href = '/map'> Check map of squirrelss </a></p>
	    <p><a href = '/squirrel/stats'> Check statastics of squirrels </a></p>
	    <p><a href = '/squirrel/add'> Add a squirrel  </a></p>
	    <h1> Here are all the squirrels, please click on the link to update information</h1>
	    <ul>
		    {% for squirrel in squirrels %}
		    <li> <a href='/squirrel/{{squirrel.Unique_Squirrel_ID}}/'> {{squirrel.Unique_Squirrel_ID}} </a> </li>
		    {% endfor %}
	    </ul>
    </body>
</html>

