<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Squirrel Tracker</h1>
  <p>Squirrel is the cutest animal ever!</p> 
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Map</h3>
      <p>Click to check position of each squirrel</p>
      <p><a href = '/map'> Map </a></p>
    </div>
    <div class="col-sm-4">
      <h3>Statistics</h3>
      <p>Click to check the general statistics of squirrels</p>
      <p><a href = '/squirrel/stats'> Statastics </a></p>
    </div>
    <div class="col-sm-4">
      <h3>Add</h3>
      <p>Click to add a new squirrel</p>
      <p><a href = '/squirrel/add'> Add </a></p>
    </div>
  </div>
</div>


<div>
	<h2> List of squirrels(please click on the links to update information)</h2>
	<ul>
		{% for squirrel in squirrels %}
		<li> <a href='/squirrel/{{squirrel.Unique_Squirrel_ID}}/'> {{squirrel.Unique_Squirrel_ID}}{{squirrel.Date}} </a> </li>
                {% endfor %}
	</ul>
</div>
</body>
</html>


