<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Satatistics of squirrels</title>
    </head>
    <body>
	    <ul>
		    <li>Total number of squirrels: {{Total}}</li>
		    <li>Total number of adult squirrels: {{Adult_count}}</li>
		    <li>Total number of juvenile squirrels: {{Juvenile_count}}</li>
		    <li>Total number of grey squirrels: {{Gray_count}}</li>
		    <li>Total number of cinnamon squirrels: {{Cinnamon_count}}</li>
		    <li>Total number of black squirrels: {{Black_count}}</li>
		    <li>Total number of squirrels on ground plane: {{Ground_count}}</li>
		    <li>Total number of squirrels above ground: {{Above_count}}</li>
	    </ul>
    </body>
</html>
