<!doctype html>
<html lang="en">
    <head>
        <meta charset=utf-8>
        <title></title>
    </head>
    <body>
	    <ol>
		    <li>Longtitude: {{squirrel.X}}</li>
		    <li>Latitude: {{squirrel.Y}}</li>
		    <li>Unique squirrel ID: {{squirrel.Unique_Squirrel_ID}}</li>
		    <li>Shift: {{squirrel.Shift}}</li>
		    <li>Date: {{squirrel.Date}}</li>
		    <li>Age: {{squirrel.Age}}</li>
		    <li>Primary fur color: {{squirrel.Primary_Fur_Color}}</li>
		    <li>Location: {{squirrel.Location}}</li>
		    <li>Specific location: {{squirrel.Specific_Location}}</li>
		    <li>Running: {{squirrel.Running}}</li>
		    <li>Chasing: {{squirrel.Chasing}}</li>
		    <li>Climbing: {{squirrel.Climbing}}</li>
		    <li>Eating: {{squirrel.Eating}}</li>
		    <li>Foraging: {{squirrel.Foraging}}</li>
		    <li>Other activities: {{squirrel.Other_Activities}}</li>
		    <li>Kuks: {{squirrel.Kuks}}</li>
		    <li>Quaas: {{squirrel.Quaas}}</li>
		    <li>Moans: {{squirrel.Moans}}</li>
		    <li>Tail flags: {{squirrel.Tail_Flags}}</li>
		    <li>Tail twitches: {{ squirrel.Tail_Twitches }}</li>
		    <li>Approaches: {{ squirrel.Approaches }}</li>
		    <li>Indifferent: {{ squirrel.Indifferent }}</li>
		    <li>Runs from: {{ squirrel.Runs_From }}</li>
	    </ol>
	    <p><a href='{% url 'squirrel:add' Unique_Squirrel_ID=Unique_Squirrel_ID%}'> Update information</a></p>
	    <p><a href='{% url 'squirrel:sightings'%}'> Back to sightings page</a></p>
    </body>
</html>
